<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <link rel="stylesheet" href="user.css" />
  </head>
  <body>
    <header class="header">
      <a href="morbi.html" class="logo">MORBI</a>

      <nav class="navbar">
        <a href="#">Home</a>
        <button class="btnLogin-popup">Login</button>
      </nav>
      <hr class="hr" />
    </header>
    <div class="text">
      <h3 class="text-center">About MORBI</h3>
      <div class="para">
        <p style="text-align: justify">
          <b><i>MORBI</i></b> is an online dating platform that is primarily
          designed for connecting individuals looking for connections or
          matrimonial alliances. It is an part of Global matrimony. Register
          with us for FREE to find a partner of your choice. Take advantage of
          our user friendly search features to find a bride or groom. Join us
          and begin your happy jouney today.

          <br />
        </p>
      </div>
    </div>

    <div class="highlights">
      <h4>Highlights of MORBI</h4>
      <div class="points">
        <ul>
          <li>Free and easy profile registration</li>
          <li>User friendly interface and features for easy partner search</li>
          <li>Safe and secure</li>
          <li>Enhanced privacy features to protect your personal details</li>
          <li>
            Global and wide set of profiles including people from all genders
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
